@mixin boxShadow {
    box-shadow: 0 3px 4px rgba($black, 0.4);
}

@mixin ghostBtn {
    border: 1px solid $zone-grey;
    border-radius: 3px;
    background: none;
    transition: .1s linear all;
    opacity: 0.6;

    &:hover {
        background: $zone-grey;
        opacity: 1;
    }
}