#zoneOverview {
    margin: 100px 0 0 0;
    background: $zone-blue;
    color: $white;
    height: 450px;

    &.richmond {
        background: url('../img/skylines/richmond.jpg');
        background-size: cover;
    }

    #zoneTotal {
        position: relative;
        margin: 0 auto;
        left: 0;
        font-size: 2.4em;
        bottom: 0;
        right: 0;
        text-align: center;
        top: 80px;

        #zoneCount {
            font-size: 2em;
            line-height: 0;
        }
    }
}

#zonesAll {

    .zone {
        clear: left;
        box-shadow: 0 1px 1px rgba(160, 160, 160, 0.4);
        border-radius: 2px;
        background: $white;
        margin: 0 0 1em 0;
        height: 130px;
        width: 550px;

        &.past {
            background: none;
            border: dashed 2px rgba(206, 206, 206, 0.46);
            box-shadow: none;

            p {
                text-align: center;
                font-size: 1.8em;
                color: #807979;
            }
        }

        .zoneDate {
            float: left;
            padding: 0.5em;
            font-size: 1.5em;
            text-align: center;
            width: 60px;
        }

        .zoneDetails {
            display: inline-block;
            margin: 0.5em 0;
            height: 90%;
            width: 320px;
            border-left: 1px solid rgba(193,193,193, 0.4);

            .zoneName {
                font-size: 1.7em;
                text-align: left;
                padding: 0.5em 0.5em 0;
            }

            .zoneVenue {
                font-size: 1em;
                font-style: italic;
                text-align: left;
                padding: 0.7em 0 0 1em;
            }
        }

        .zoneRSVP {
            position: relative;
            top: 15px;
            right: 10px;
            float: right;
            width: 130px;
            height: 100%;
            text-align: center;

            .count {
                font-size: 1.5em;
                font-weight: bold;
            }

            p {
                color: darken($zone-grey, 20%);
                font-size: 0.8em;
            }

            .count-me-in {
                @include ghostBtn;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1em;
                padding: 0.5em;
                width: 100%;
            }
        }
    }

    #menuBoard {
        float: left;

        h1 {
            float: left;
        }
        
        .createZoneBtn {
            @include ghostBtn;
            float: right;
            position: relative;
            top: 20px;
            border-color: darken($zone-grey, 20%);
            padding: 0.8em;
            width: 200px;

            &:hover {
                background: darken($zone-grey, 3%);
            }
        }
    }

    #pastZones {
        float: right;

        h1 {
            text-align: right;
        }
    }
}

@media only screen and (max-width: 500px) {
    .zone {
        height: 180px !important;
        width: 100% !important;
    }
    
    .createZoneBtn {
        width: 150px !important;
    }

    .zoneDate {
        width: 80px !important;
    }

    .zoneRSVP {
        top: -220px !important;
        width: 133px !important;
    }

    .zoneRSVP .count {
        float: left !important;
    }

    .zoneRSVP p {
        font-size: 0.6em !important;
        display: inline-block !important;
        vertical-align: middle !important;
    }
}