<section id="zonesAll" data-ng-controller="allZones">
    <div class="container">
        <section id="menuBoard">
            <h1>Menu Board</h1>
            <section class="zone" data-ng-repeat="zone in zones | orderBy: 'date'">
                <section class="zoneDate">{{zone.date | date : 'MMM dd'}}</section><!-- /.zoneDate -->

                <section class="zoneDetails">
                    <div class="zoneName">{{zone.name}}</div><!-- /.zoneName -->
                    <div class="zoneVenue">{{zone.venue}}</div><!-- /.zoneVenue -->
                </section><!-- /.zoneDetails -->
            </section><!-- /.zone -->
        </section><!-- /#menuBoard -->
        <section id="pastZones">
            <h1>Past Zones</h1>
            <p ng-show="!past.length">{{noPast}}</p>
            <section class="zone past" data-ng-repeat="past in pastZones | orderBy: 'date'">
                <p ng-show="past.length">{{past.name}}<p>
            </section><!-- /.zone .past -->

        </section><!-- /#pastZones -->
    </div><!-- /.container -->
</section><!-- /#zonesAll -->